*{box-sizing: border-box;}

body
{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: auto;
}
.header
{
    display: flex;
    color: #003a86;
    padding: 10px 70px 0 70px;
    align-items: center;
    border-bottom: 3px solid #003a86;
}

.logo
{
    font-size: 25px;
    font-weight: 700;
}

.menu 
{   display: flex;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #003a86;
    padding: 20px;
}

.menu a
{
    display: block;
}

.menu .aktive
{
    color: white;
    background-color: #003a86;
    border-radius: 25px 25px 0 0;
}